USE [Cine]
GO
Create procedure GetPeliculasByFecha
	@fecha Date

AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		id_pelicula = p.id_pelicula,
		nombre = p.nombre,
		duracion = p.duracion,
		fecha_publicacion = p.fecha_publicacion,
		audit_delete_date = p.audit_delete_date,
		audit_delete_user = p.audit_delete_user
	FROM pelicula AS p
	WHERE
		p.audit_delete_date IS NULL
		AND CAST(p.fecha_publicacion AS DATE) = @fecha;
END
GO